%div
  - @comparisons.each_with_index do |comparison, index|
    =link_to comparison, id: "Comparison-Button"+index.to_s, class:'btn btn-info' do
      %b
        = comparison.localized_field('name', locale)
      %br
        %em
          = comparison.localized_field('description', locale)
      %br
        = comparison.image_link != '' ? image_tag(comparison.image_link, size:"30") : raw(comparison.raw_html_icon)

%p
  =raw t('welcome-title') + t('welcome-text')
%p= link_to fa_icon('file-pdf-o', t('presentation-link')), "/qm1_Spitaldaten_Kennzahlen_Relevanz_Spitalvergleich.pdf", target: '_blank'
