%table.table-striped.table
  %tbody.-align-center
    %tbody.-align-center
    - @comparisons.each do |comparison|
      %tbody.text-center
        =link_to comparison, class:'btn btn-info' do
          %b
            =comparison.localized_field('name', locale)
          %br
            %em
              =comparison.localized_field('description', locale)


-#%td= link_to comparison.localized_field('name', locale), comparison
-#%td= comparison.localized_field('description', locale)
          -#%td= method: 'get'
