%table.table-striped.table
  %tbody.-align-center
    - @comparisons.each do |comparison|
      %tbody.text-center
        =button_to comparison.localized_field('name', locale), comparison, class:'btn btn-info width-300px side-buffer', method: 'get'


