%div
  - @comparisons.each_with_index do |comparison, index|
    =link_to comparison, class:'btn btn-info' do
      %b
        = comparison.localized_field('name', locale)
      %br
        %em
          = comparison.localized_field('description', locale)
      %br
        = show_icon comparison

%p
  =raw t('welcome-title') + t('welcome-text')
%p= link_to fa_icon('file-pdf-o', t('presentation-link')), "/qm1_Spitaldaten_Kennzahlen_Relevanz_Spitalvergleich.pdf", target: '_blank'
