- render :partial => 'shared/search'
- content_for :title, @speciality.name

.panel.panel-default
  .panel-heading
    %h3.panel-title Speciality Details
  .panel-body
    %dl.dl-horizontal
      %dt Description
      %dd= @speciality.name

.panel.panel-default
  .panel-heading
    %a{ href: '/' }
      %span.pull-right Show on Map
    %h3.panel-title Nearby Doctors
  .panel-body
    %ul.list-group
      = render @doctors
