- render :partial => 'shared/search'
- content_for :title, @speciality.name

.row

  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Speciality Details
      .panel-body
        %dl.dl-horizontal
          %dt Description
          %dd= @speciality.name

  .col-md-6
    .panel.panel-default
      .panel-heading
        %a{ href: '/' }
          %span.pull-right
            =fa_icon('map-marker', 'Show on Map')
        %h3.panel-title Nearby Doctors
      .panel-body
        %ul.list-group
          = render @doctors
