= t('more-information')
= mail_to 'spital@qualitaetsmedizin.ch', 'spital@qualitaetsmedizin.ch'
%p
  © 2016
  %a{:href => 'http://www.qualitaetsmedizin.ch', target: '_blank'} Qualitätsmedizin.ch
  | created by
  %a{:href => 'http://www.eonum.ch', target: '_blank'} eonum