- content_for :search do
  %ul.list-group
    -if @search.size > 0
      -@search.each do |s|
        %a.list-group-item{href: icd_path(s, q: params['q']), class: params['id']==s.code ? 'active' : ''}
          %h4.list-group-item-heading= s.text
          %p= s.code
    -else
      %li.list-group-item.list-group-item-info
        %p Nothing found!!!