.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3 About.
        .panel-body
          =raw t('welcome-title') + t('welcome-text')
  .row
    .col-lg-12
      %br/
      %br/
      %p.pull-right
        © 2015
        %a{:href => 'http://www.qualitaetsmedizin.ch'} Qualitätsmedizin.ch
        | created by
        %a{:href => 'http://www.eonum.ch'} eonum
      %br/
      %br/