- content_for :title, 'Help'

.container
  %hr/
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3 Hilfe.
        .panel-body
          Die Kennzahlen und Daten zu den Institutionen entstammen publizierten Angaben und aktuellen Datenquellen,
          u.a des Bundesamtes für Gesundheit (BAG), des Nationalen Vereins für Qualitätsentwicklung in Spitälern und
          Kliniken (ANQ) und publizierten Informationen / Jahresberichten. Allfällige Fehler bitten wir schriftlich zu melden an
          = mail_to 'spital@qualitaetsmedizin.ch'
          %ul.top-buffer
            %li Eine erste Sortierung erfolgt nach geographischer Nähe
            %li
              Dunkelgrüne Balken veranschaulichen die Zahl der behandelten Patientenfälle.
              %div.meter{ style: 'max-width: 20%'}
                %span{ style: 'width: 40%' }
              Grüne Balken geben Hinweise auf die Relevanz bzw. Eignung des Spitals im nationalen Vergleich:
              %div.meter.relevance{ style: 'max-width: 20%'}
                %span{ style: 'width: 40%' }
            %li Ein Klick auf die Fallzahlen zeigt den zeitlichen Trend über die letzten Datenjahre.
            %li
              %span.orange-highlight Orange
              hinterlegte Kennzahlen geben Hinweise auf Auffälligkeiten (z.B. unterdurchschnittliche Qualitätskennzahlen)
            %li
              Mit
              = image_tag('accept.png', :style => 'border-style:none')
              werden zusätzliche, positive Merkmale der Institution hervorgehoben
          = button_to t('back'), :back, class: 'btn top-buffer', method: 'get'
