.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3 Aide.
        .panel-body
          Les indices et les données sur les institutions proviennent d’indicateurs publiés et de sources de données
          actuelles, entre autres de l’office fédéral de la santé publique (OFSP), de l'Association nationale pour
          le développement de la qualité dans les hôpitaux et les cliniques (ANQ) et d’informations et de rapports
          annuels publiés. Nous vous remercions de nous signaler d’éventuelles erreurs sur
          = mail_to 'spital@qm1.ch'
          %p
          Les indicateurs qui illustrent la satisfaction des patients sont à votre disposition sur le site de l’ANQ (
          %a{ href: 'http://www.anq.ch/fr/resultats-de-mesure/resultats-somatique-aigue/', target: '_blank'} http://www.anq.ch/fr/resultats-de-mesure/resultats-somatique-aigue/
          ). Nous considérons toutefois que ces indicateurs sont insignifiants et peuvent être trompeurs car ce sont
          plutôt les services des cliniques et non pas la qualité des prestations médicales qui sont évalués. De plus,
          ces dernières années les évaluations ont toujours été bonnes voir très bonnes, ce qui compromet leur pertinence
          statistique. D’après les évaluations actuelles, toutes les cliniques et tous les hôpitaux sont recommandables
          et tous les patients / clients sont satisfaits.

          %ul.top-buffer
            %li Un premier tri se fait en fonction de la proximité géographique.
            %li
              Les barres vertes foncé représentent le nombre de patients traités.
              %div.meter{ style: 'max-width: 20%'}
                %span{ style: 'width: 40%' }
              Les barres vertes donnent des indications sur la pertinence ou l’aptitude de l’hôpital dans la comparaison nationale:
              %div.meter.relevance{ style: 'max-width: 20%'}
                %span{ style: 'width: 40%' }
            %li Un clic sur le nombre de cas démontre la tendance univoque à travers les dernières années de données.
            %li
              %span.orange-highlight Les chiffres caractéristiques colorés en orange donnent des indications sur
              d’éventuelles anomalies (par ex. des chiffres de qualité inférieurs à la moyenne).
            %li
              Les caractères positifs supplémentaires de l’institution sont soulignés avec
              = image_tag('accept.png', :style => 'border-style:none')

          %p= raw t('welcome-title')
          %p.top-buffer= raw t('welcome-text')

          %p
          Abréviations
          %dl.dl-horizontal
            %dt OFS
            %dd	Office fédéral de la statistique
            %dt ANQ
            %dd	Association nationale pour le développement de la qualité dans les hôpitaux et les cliniques
            %dt IRM
            %dd	Tomographie par résonance magnétique nucléaire: une des méthodes d'examen radiologique qui permets d'obtenir des images des structures de tissu du corps humain.
            %dt CT
            %dd	Tomographie computerisée: une des méthodes les plus modernes d'examen radiologique, avec laquelle des images de coupes du corps humain peuvent être obtenues
            %dt PET
            %dd	Tomographie par émission de positons, une méthode de diagnostic par l'image de la médecine nucléaire:  C’est un examen à visée diagnostique, reposant sur la détection de positons produits par une substance radioactive administrée au patient par voie intraveineuse. La TEP fournit une image précise de l'activité cellulaire à l'intérieur du tissu observé.
            %dt CC
            %dd	Caméras gamma (incluant la scintigraphie et le scanner SPECT):ou caméras à scintillation sont des appareils qui permettent aux médecins nucléaires d'effectuer des « scintigraphies », examens qui fournissent des diagnostics détaillés sur les processus métaboliques. Un complément optimal pour d'autres examens radiologiques ou tomographies, qui ne révèlent que les structures anatomiques.
            %dt LB
            %dd	Un accélérateur linéaire est un système qui utilise des ondes électromagnétiques de fréquences élevées  pour accélérer des électrons jusqu’à des énergies très élevées à travers un tube linéaire. Le faisceau d’électrons qui en résulte peut  être utilisé pour frapper une cible (tungstène) produisant ainsi des rayons X qui pourront traiter des tumeurs plus profondes. L'irradiation est précise au millimètre près. Le tissus sain est épargné le plus possible, les effets secondaires sont minimisés.
            %dt Lito
            %dd	Lithotripteur: La lithotripsie ou lithotritie extracorporelle (LEC) est une technique de lithotripsie qui consiste à éliminer en fragments les calculs (rénaux ou biliaires) par le biais d'ondes de choc ultrasonores. À la suite de cette intervention, les fins débris obtenus par la désintégration du ou des calculs sont évacués par les voies naturelles. En cas de calculs rénaux on évite le plus souvent l'intervention chirurgicale.
            %dt NF
            %dd	service d'urgence
            %dt IPS
            %dd	Unité de soins intensifs
            %dt MSt
            %dd	étudiants en médecine
            %dt BGs
            %dd	Professionnels de la santé
            %dt CIRS
            %dd	"Critical Incident Reporting System - un critère de qualité fréquent Système de rapport pour une déclaration anonyme d'incidents critiques et quasi dommages. En suivent des formations/audits réguliers, afin d'éviter des incidents de ce genre, respectivement d'améliorer les structures et les processus de travail. Les résultats sont mesurés de façon continue, documentés et en partie publiés dans le rapport de qualité."




