/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 *= require nprogress_and_overrides
 *= require tagmanager
 *= require jquery-ui/sortable
 */


.pseudoLink, .time-series {
    cursor: hand;
    cursor: pointer;
    color: rgb(59, 114, 184);
}

.highlight {
    color: midnightblue;
    font-size: larger;
    font-weight: bolder;
}

.numcase_overlay {
    text-align: left;
    color: rgba(104, 1, 0, 0.43);
}

.distance {
    color: #ff6a07;
}

.hopcell {
    padding: 5px;
}