/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 *= require nprogress_and_overrides
 *= require tagmanager
 *= require jquery-ui/sortable
 *= require tablesaw.bare
 */
@media only screen and (max-width: 767px) {
    #field-info-box2 {
        display: none;
    }
}

a.active
{
    background-color: #3b4064;!important;
}

.pseudoLink, .time-series {
    cursor: hand;
    cursor: pointer;
    color: rgb(59, 114, 184);
}

.highlight {
    color: midnightblue;
    font-size: larger;
    font-weight: bolder;
}

.numcase_overlay {
    text-align: left;
    color: rgba(104, 1, 0, 0.43);
}

.no-value {
    text-align: center;
    color: rgba(104, 1, 0, 0.43);
}

.locbutton {
    max-width:15%;
    height: 30px;
    align-self: right;
}

.regeolocate {
    max-width: 12%;
}

.distance {
    color: #ff6a07;
}

.hopcell {/*this is now the cell within the hopcell_outer*/
    width: 100%;
    word-wrap:break-word;
}
.hopcell_outer {
    padding: 5px;
    display: inline-block;/*with that, the cell number per row changes dynamically with the window width*/
    vertical-align:top;
    width: 200px;/*seemed like a reasonable number, could be changed however. It should still be absolute, though*/
}

a, a:visited {
    color: rgb(59, 114, 184);
}


#location-input {
    text-align: left;
    width: 69%;
    overflow: hidden;
}


